@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Mono&family=Sometype+Mono&display=swap');

html {
    height: 100%;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    background-color: #454545;
}

.container {
    display: flex;
}


h1 {
    color: white;
}

.navigation {
    /* background-color: #5e5e5e; */
    background-color: #232527;
    color: #bdbebe;
    width: 360px;
    height: 100vh;
    /* padding: 0px 60px 30px 10px; */
    position: fixed;
    top: 0;
    left: 0;
}

.navigation ul {
    list-style: none;
}

.navigation ul li {
    line-height: 3em;
}

.navigation ul a {
    text-decoration: none;
    color: #fff;
}

.navigation ul a:hover {
    text-decoration: underline;
    color: #fff;
}

.content {
    flex: 1;
    padding: 30px;
    line-height: 1.2em;
    margin-left: 360px;
    color: white;
}

img {
    width: 65%;
}